<mat-card id="customText">
    <mat-card-title>Custom Text in lazy loaded module</mat-card-title>

    <mat-card-content>
        <p>Settings</p>

        <form>
            <mat-form-field>
                <label>
                    <input matInput placeholder="Text 3" [(ngModel)]="customTextValues.ctv3" name="ctv3">
                </label>
            </mat-form-field>
            <br>

            <mat-form-field>
                <label>
                    <input matInput placeholder="Text 4" [(ngModel)]="customTextValues.ctv4" name="ctv4">
                </label>
            </mat-form-field>
            <br>
        </form>

        <div class="result">
            Piped via CustomText:
            <ul>
                <li>Text 1 (from root component): {{'Text 1 default'| customtext:'ctv1':cts.updateCount}}</li>
                <li>Text 2 (from root component): {{'Text 2 default'| customtext:'ctv2':cts.updateCount}}</li>
                <li>Text 3 (from lazy component): {{'Text 3 default'| customtext:'ctv3':cts.updateCount}}</li>
                <li>Text 4 (from lazy component): {{'Text 4 default'| customtext:'ctv4':cts.updateCount}}</li>
            </ul>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="applyCustomTexts()">Apply settings</button>
        <button mat-raised-button (click)="goBack()">Go back home</button>
    </mat-card-actions>
</mat-card>
