<h1 class="mat-h1">IQB Components - Showcase</h1>

<div fxLayout="row wrap" fxLayoutAlign="left stretch" style="padding: 10px;">

  <mat-card id="confirmDialog">
    <mat-card-title>tc-confirm-dialog</mat-card-title>
    <mat-card-subtitle>A simple confirmation dialogue.</mat-card-subtitle>

    <mat-card-content>

      <p>Settings</p>

      <form>

        <mat-form-field>
          <label>
            <input matInput placeholder="title" [(ngModel)]="confirmDialogData.title" name="title">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="content" [(ngModel)]="confirmDialogData.content" name="content">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="confirmbuttonlabel" [(ngModel)]="confirmDialogData.confirmbuttonlabel" name="confirmbuttonlabel">
          </label>
        </mat-form-field>
        <br>
        <mat-checkbox [(ngModel)]="confirmDialogData.showcancel" name="showcancel">showcancel</mat-checkbox>
        <br>
      </form>

      <div class="result">Result: {{confirmDialogResult}}</div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openConfirmDialog()" name="openDialog">Open Dialog</button>
    </mat-card-actions>

  </mat-card>

  <mat-card id="messageDialog">
    <mat-card-title>tc-message-dialog</mat-card-title>
    <mat-card-subtitle>A simple message dialogue.</mat-card-subtitle>

    <mat-card-content>

      <p>Settings</p>

      <form>

        <mat-form-field>
          <mat-label>MessageType</mat-label>
          <mat-select [(ngModel)]="messageDialogData.type" name="type">
            <mat-option [value]="0">error</mat-option>
            <mat-option [value]="1">warning</mat-option>
            <mat-option [value]="2">info</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input matInput placeholder="title" [(ngModel)]="messageDialogData.title" name="title">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="content" [(ngModel)]="messageDialogData.content" name="content">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="closebuttonlabel" [(ngModel)]="messageDialogData.closebuttonlabel" name="closebuttonlabel">
          </label>
        </mat-form-field>
        <br>

      </form>

      <div class="result">Result: {{messageDialogResult}}</div>
      {{messageDialogData.title}}
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openMessageDialog()" name="openDialog">Open Dialogue</button>
    </mat-card-actions>

  </mat-card>

  <mat-card id="bugReportDialog">
    <mat-card-title>BugReport &amp; BugReportDialog</mat-card-title>
    <mat-card-subtitle>A dialogue to report an error to GitHub</mat-card-subtitle>

    <mat-card-content>

      <form>

        <p>Target</p>
        <mat-select [(value)]="bugReportTargetKey" id="bugReportTargetKey">
          <mat-option *ngFor="let item of gitHubService.targets | keyvalue" [value]="item.key">
            {{item.key}} ({{item.value.owner}}/{{item.value.name}})
          </mat-option>
        </mat-select>

        <p>BugReport-Data</p>
        <mat-form-field>
          <label>
            <input matInput placeholder="Error-Title" [(ngModel)]="bugReportDialogData.title" name="title">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput placeholder="Error-Code" [(ngModel)]="bugReportDialogData.devInfo" name="devInfo">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input matInput placeholder="Error-Id" [(ngModel)]="bugReportDialogData.errorId" name="errorId">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input matInput placeholder="Reporter-Name" [(ngModel)]="bugReportDialogData.reporterName" name="reporterName">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input matInput placeholder="Reporter-Email" [(ngModel)]="bugReportDialogData.reporterEmail" name="reporterEmail">
          </label>
        </mat-form-field>

        <br>

        <p>Dialog-Config</p>
        Hide fields:<br>
        <label><input type="checkbox" [(ngModel)]="bugReportDialogConfigHideFields.title" name="hideTitle">title</label>
        <label><input type="checkbox" [(ngModel)]="bugReportDialogConfigHideFields.comment" name="hideComment">comment</label>
        <label><input type="checkbox" [(ngModel)]="bugReportDialogConfigHideFields.reporterName" name="hideReporterName">reporterName</label>
        <label><input type="checkbox" [(ngModel)]="bugReportDialogConfigHideFields.reporterEmail" name="hideReporterEmail">reporterEmail</label>
      </form>

      <div class="result">Result: {{bugReportDialogResult}}</div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="convertJSErrorToBugReportDialogData()">Create report for JS error</button>
      <button mat-raised-button color="primary" (click)="openBugReportDialog()" name="openDialog">Open Report Dialog</button>
    </mat-card-actions>

  </mat-card>

  <mat-card id="bytesPipe">
    <mat-card-title>BytesPipe</mat-card-title>
    <mat-card-subtitle>A pipe for human readable file sizes</mat-card-subtitle>

    <mat-card-content>

      <p>Settings</p>

      <form>
        <mat-form-field>
          <label>
            <input matInput placeholder="Test Values" [(ngModel)]="pipeBytesValue" name="pipetestvalues">
          </label>
        </mat-form-field>
      </form>

      <div class="result">
        Response:
        <ul><li *ngFor="let value of applyPipeBytes()">{{value | bytes}}</li></ul>
      </div>

    </mat-card-content>

  </mat-card>

  <mat-card id="serverError">
    <mat-card-title>ServerError/ErrorHandler</mat-card-title>
    <mat-card-subtitle>A convenient way to catch http-Errors</mat-card-subtitle>

    <mat-card-content>

      <p>Settings</p>

      <form>
          <mat-form-field>
            <label>
              <input matInput placeholder="url" [(ngModel)]="httpErrorData.url" name="url">
            </label>
          </mat-form-field>
          <br>

          <mat-form-field>
            <label>
              <input matInput placeholder="parameterName" [(ngModel)]="httpErrorData.parameterName" name="pName">
            </label>
          </mat-form-field>
          <br>

          <mat-form-field>
            <label>
              <input matInput placeholder="parameterValue" [(ngModel)]="httpErrorData.parameterValue" name="pValue">
            </label>
          </mat-form-field>

        </form>

        <div class="result">
          Response:
          <ul>
            <li>errorCode: {{httpResponse.errorCode}}</li>
            <li>messageShort: {{httpResponse.messageShort}}</li>
            <li>messageLong: {{httpResponse.messageLong}}</li>
          </ul>
        </div>
    </mat-card-content>

    <mat-card-actions>
      <button color="primary" mat-raised-button (click)="demoHttpError()">Execute</button>
    </mat-card-actions>

  </mat-card>

  <mat-card id="customText">
    <mat-card-title>Custom Text</mat-card-title>
    <mat-card-subtitle>Adapting text in applications during runtime</mat-card-subtitle>

    <mat-card-content>
      <p>Settings</p>

      <form>
        <mat-form-field>
          <label>
            <input matInput placeholder="Text 1" [(ngModel)]="customTextValues.ctv1" name="ctv1">
          </label>
        </mat-form-field>
        <br>

        <mat-form-field>
          <label>
            <input matInput placeholder="Text 2" [(ngModel)]="customTextValues.ctv2" name="ctv2">
          </label>
        </mat-form-field>
        <br>
      </form>

      <div class="result">
        Piped via CustomText:
        <ul>
          <li>Text 1 (from root component): {{'Text 1 default'| customtext:'ctv1':cts.updateCount}}</li>
          <li>Text 2 (from root component): {{'Text 2 default'| customtext:'ctv2':cts.updateCount}}</li>
          <li>Text 3 (from lazy component): {{'Text 3 default'| customtext:'ctv3':cts.updateCount}}</li>
          <li>Text 4 (from lazy component): {{'Text 4 default'| customtext:'ctv4':cts.updateCount}}</li>
        </ul>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="applyCustomTexts()">Apply settings</button>
      <button color="primary" mat-raised-button (click)="goToLazy()">Go to lazy loaded module</button>
    </mat-card-actions>

  </mat-card>
</div>
