mat-dialog-content {
  padding-bottom: 30px;
  min-width: 500px
}

mat-form-field {
  width: 100%;
}

code {
  white-space: pre;
  overflow: auto;
  background: lightgray;
  border-radius: 2px;
  display: block;
  padding: 2px;
}
