@import '~@angular/material/theming';
@import "~material-design-icons/iconfont/material-icons.css";
@include mat-core();

$iqb-primary: mat-palette($mat-cyan, 900);
$iqb-accent: mat-palette($mat-light-green, A200);
$iqb-app-theme: mat-light-theme($iqb-primary, $iqb-accent);
@include angular-material-theme($iqb-app-theme);

body {
  background: rgba(64,144,230,1);
  background: -moz-linear-gradient(left, rgba(64,144,230,1) 0%, rgba(98,214,145,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,144,230,1)), color-stop(100%, rgba(98,214,145,1)));
  background: -webkit-linear-gradient(left, rgba(64,144,230,1) 0%, rgba(98,214,145,1) 100%);
  background: -o-linear-gradient(left, rgba(64,144,230,1) 0%, rgba(98,214,145,1) 100%);
  background: -ms-linear-gradient(left, rgba(64,144,230,1) 0%, rgba(98,214,145,1) 100%);
  background: linear-gradient(to right, rgba(64,144,230,1) 0%, rgba(98,214,145,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4090e6', endColorstr='#62d691', GradientType=1 );
  font-family: sans;
}
